* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  border: 1px solid #6B7280;
  gap: 10px;
}


