* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* --------------------BUTTON DIVISION STYLINGS-----------------------*/

.buttonDiv {
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #6B7280;
  gap: 10px;
}

button:active {
  transform: translateY(1px); 
}

button.button-Square {
  background-color: #E5E7EB;
  color: #4B5563;
  border: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  padding: 9px 17px;
  border-radius: 2px;
  line-height: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

button.button-Pill {
  background-color: #E5E7EB;
  color: #4B5563;
  border: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  padding: 9px 17px;
  border-radius: 20px;
  line-height: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

button.button-Indigo {
  background-color: #E0E0FF;
  color: indigo;
}

button.button-Purple {
  background-color: #E0E0FF; 
  color: purple;
}

button.button-Red {
  background-color: #FFCCCC;
  color: red;
}

button.button-Gray {
  background-color: lightgray;
  color: gray;
}

button.button-Yellow {
  background-color: lightyellow;
  color: yellow;
}

button.button-Green {
  background-color: lightgreen;
  color: green;
}

button.button-Blue {
  background-color: lightblue;
  color: blue;
}

button.button-Pink {
  background-color: lightpink;
  color: pink;
}


/* -------------------------------BANNER DIVISION STYLINGS------------------------------*/

.bannerDiv {
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #6B7280;
  gap: 10px;
}

.banner {
  width: 850px;
  padding: 16px 16px 0px 16px;
  border-radius: 6px;
  padding: 10px;
}

.banner-success {
  background-color: #ECFDF5;
}

.banner-warning {
  background-color: #FFFBEB;
}

.banner-neutral {
  background-color: #EFF6FF;
}

.banner-error {
  background-color: #FEF2F2;
}

.banner-success-title {
  color: #065F46;
  font-size: 20px;
  font-weight: 500;
}

.banner-warning-title {
  color: #92400E;
  font-size: 20px;
  font-weight: 500;
}

.banner-error-title {
  color: #920e19;
  font-size: 20px;
  font-weight: 500;
}

.banner-neutral-title {
  color: #1E40AF;
  font-size: 20px;
  font-weight: 500;
}

.banner-success-text {
  color: #047857;
  font-size: 15px;
}

.banner-warning-text {
  color: #B45309;
  font-size: 15px;
}

.banner-error-text {
  color: #783c3f;
  font-size: 15px;
}

.banner-neutral-text {
  color: #1C51B9;
  font-size: 15px;
}


/* -------------------------------CARD DIVISION STYLINGS------------------------------*/

.cardDiv {
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  padding: 30px;
  border: 1px solid #6B7280;
  gap: 10px;
}

.card-comp {
  width: 384px;
  height: 208px;
  padding: 0px 24px 32px 24px;
  border-radius: 8px;
  background-color: #D6EAFF;
  position: relative;
}

.card-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #111827;
  margin-top: 60px;
}

.card-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #6B7280;
}

.card-icon {
  background-color: #3F75FE;
  width: 44px; 
  height: 44px; 
  font-size: 10px;
  color: #FFFFFF;
  border-radius: 3px;
  position: absolute; 
  top: -17px; 
  left: 50%; 
  transform: translateX(-50%);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* -------------------------------TESTIMONIAL DIVISION STYLINGS------------------------------*/

.testimonialDiv {
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  padding: 30px 0px 30px 0px;
  border: 1px solid #6B7280;
  gap: 10px;
}

/*--------------WIHT PIC---------------------*/

.testimonial-Back{
  width: 900px;
  height: 200px;
  background-color: #2545B8;
  position: relative;
}

img {
  position: absolute;
  width: 200px;
  height: 210x;
  top: -22px;
  border-radius: 12px;
  left: 20px;
}

.testimonial-text {
  position: absolute;
  left: 230px;
  color: #FFFFFF;
}

.testimonial-text-desc {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

h2 {
  margin-bottom: 0px;
  margin-top: 40px;
}

/*----------------WITHOUT PIC---------------------*/

.testimonial-Back-without{
  width: auto;
  height: 200px;
  background-color: #FFFFFF;
}

.testimonial-text-desc-without {
  padding-left: 100px;
  padding-right: 100px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  color: #2545B8;
  text-align: center;
}

.testimonial-text-without {
  color: #2545B8;
  text-align: center;
}

